<html>

<link rel="stylesheet" href="/style/semantic/dist/semantic.css">
<script src="/style/jquery/dist/jquery.js"></script>
<script src="/style/semantic/dist/semantic.min.js"></script>

<br><br><br>

<div class="ui grid">
     <div class="four wide column"></div> 
     <div class="ui raised segment eight wide column">
        <p class="ui huge header">Send Etherium to {{ . }}.</p>
        <p>Your issue will appear after all Etherium has been received.</p>
     </div> 
     <div class="four wide column"></div>
</div>
<div class="ui grid centered">
    <div>
        <a href="/">
        <img src="/style/questionable.jpb.jpg" width="700px" height="auto">
        </a>
    </div>
    <div>
        <img src="/style/go-gopher-mascot.png" width="700px" height="auto">
    </div>
    
</div>

</html>